# {{ ansible_managed }}
server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: {{ promtail_loki_server }}

scrape_configs:
  - job_name: app-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: app-logs
          instance: {{ inventory_hostname }}
          role: "{{ promtail_label_role }}"
          __path__: {{ promtail_app_log_file }}
